<!-- Nos permite la creacion para la tabla de naves tripuladas -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>addSpacecraft</title>
        <meta charset="UTF-8">
        <!-- agregamos las librerias para poder usar bootstrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-3 ">
                <form class="form-inline">
                    <button class="btn btn-sm btn-outline-secondary" type="button" value="Inicio" onclick="Inicio()">Inicio</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button" onclick="seleccionarNave()">Seleccionar nave a crear</button>
                </form>
            </nav>
        </header>
        <h1><center>Creacion de la nave tripulada</h1><br><br>
        <div class="container">
            <form th:action="@{/guardar}" method="post" th:object="${nave_espacial}" class="was-validated">
                <div class="form-group">
                    <label for="nombre">tipo de nave:</label>
                    <input type="text" class="form-control" name="tipo_nave" value='Nave Tripulada' readonly/>
                </div><br>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
                </div><br>
                <div class="form-group">
                    <label for="nombre">Pais de creacion:</label>
                    <input type="text" class="form-control" name="pais_creacion" th:field="*{pais_creacion}"/>
                </div><br>
                <div class="form-group">
                    <label for="nombre">Combustible:</label>
                    <input type="text" class="form-control" name="combustible" th:field="*{combustible}"/>
                </div><br>
                <div class="form-group">
                    <label for="nombre">Fecha:</label>
                    <input type="number" class="form-control" name="fecha" th:field="*{fecha}"/>
                </div><br>
                <div class="form-group">
                    <label for="nombre">Potencia:</label>
                    <input type="text" class="form-control" name="potencia" th:field="*{potencia}"/>
                </div><br>
                <div class="form-group">
                    <label for="number">Cantidad de pasajeros:</label>
                    <input type="text" class="form-control" name="cantidad_pasajeros" th:field="*{cantidad_pasajeros}"/>
                </div><br>
                <div class="form-group">
                    <label for="nombre">Misiones:</label>
                    <input type="text" class="form-control" name="misiones" th:field="*{misiones}"/>
                </div><br>
                <input type="submit" class="btn btn-sm btn-outline-secondary" name="Crear" value="Crear Nave">
            </form>
        </div>
        <script type="text/javascript">
            function Inicio() {
                window.location = '/';
            }
            function seleccionarNave() {
                window.location = '/select';
            }
        </script>
    </body>
</html>
