<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>addSpacecraft</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Creacion de la nave</h1>
                
        <a th:href="@{/}">Inicio</a><br><br>
        <a th:href="@{/select}">Seleccionar nave</a><br><br>
        
        <form th:action="@{/guardar}" method="post" th:object="${nave_espacial}">
            <label for="nombre">tipo de nave:</label>
            <input type="text" name="tipo_nave" th:field="*{tipo_nave}"/><br>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/><br>
            <label for="nombre">Pais de creacion:</label>
            <input type="text" name="pais_creacion" th:field="*{pais_creacion}"/><br>
            <label for="nombre">Combustible:</label>
            <input type="text" name="combustible" th:field="*{combustible}"/><br>
            <label for="nombre">Fecha:</label>
            <input type="number" name="fecha" th:field="*{fecha}"/><br>
            <label for="nombre">Potencia:</label>
            <input type="text" name="potencia" th:field="*{potencia}"/><br>
            <label for="nombre">Lugar donde orbita</label>
            <input type="text" name="donde_orbita" th:field="*{donde_orbita}"/><br>
            <label for="number">Motores:</label>
            <input type="text" name="motores" th:field="*{motores}"/><br>
            <label for="number">Distancia de la tierra:</label>
            <input type="text" name="distancia_de_la_tierra" th:field="*{distancia_de_la_tierra}"/><br><br>
            <input type="submit" name="Crear" value="Crear Nave">
        </form>
    </body>
</html>
